/*------------------------
	navigation 
------------------------*/
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
  background-color: transparent;
}

.dropdown-menu {
	background-color: #324F51;
}

.dropdown-menu>li>a {
	color: #FFF;
}

.dropdown-menu>li>a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #324F51;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: transparent;
}

.home-part {
	width:100%;
	height:100%;
}

.item-title {
	padding: 0px;
}

.home-title{
	font-size:50px;
	color:#fff;
}

#navigation {
	background-color:transparent;
	border-color:transparent;
}

.modal-footer{
	border-top:1px solid #10756B;
}

/*------------------------
	footer 
------------------------*/
#footer  {
	    top: 0;
    	background-color: rgb(32, 35, 45);
    	padding-top: 38px;
    	bottom: 0;
    	padding-bottom: 18px;
}

#footer h3 {
	font-size: 17px;
  	color: #147E6E;
}


/*------------------------
	login box
------------------------*/
.btn {
	font-size: 14px;
}

.login {
	    max-width: 330px;   
	    padding: 15px;   
	    margin: 0 auto;
    	margin-top: 7%;
    	margin-bottom : 5%	;
}

.login h2 {
		font-size: 30px;
		font-weight: 100;"
}

.login .checkbox {
	text-align: center;
}

.checkbox label {
		color: #fff;
}



.panel {
	  background-color: #525252;
	  border: none;
	  border-radius: 0px;
}

 p , h3, a {
	color: #D5D5D5 !important;
}

#footer h3 {
  color: #147E6E !important;
}

hr {
	border-top: 1px solid #147E6E !important;

}


.list-group-item{
	border-radius: 0px !important;
  position: relative;
  display: block;
  color: rgb(189, 207, 196);
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #147E6E;
  border: 1px solid #00917B;	
}

.form-control {
	background-color: #2B2D35;
  	border: 1px solid #2B2D35;
  	border-radius: 0px;
  	color: #D5D5D5;
}

.form-control:focus {
  border-color: #11C9AD;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(20, 126, 110, 1);
}


.panel-default , .panel-default h4 {
	color: #D5D5D5 !important;
}

.input-group-addon {
	color: #D5D5D5;
  	background-color: #147E6E;
  	border: #147E6E;
}